<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jim.mybatis.model.mapper.UserMapper">

    <select id="findAll" resultType="User">
        SELECT * FROM r_users t1
        WHERE  1=1;
    </select>

    <select id="findUserById" resultType="User" parameterType="String">
        SELECT * FROM r_users t1
        WHERE 1=1
        AND t1.id = #{id};
    </select>
</mapper>