<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Title</title>
</head>
<body>
	<div th:text="${message}"></div>
	<div><input name="username" type="text"/><button>submit</button></div>
	<script src="webjars/jquery/3.2.1/dist/jquery.min.js"></script>
	<script>
		$(function () {
		   $('button').on('click', function () {
               var name = $('input[name="username"]').val();
               $.ajax({
                   url: 'http://localhost:8080/greeting',
                   type: 'get',
                   data: {name: name}
               }).done(function (data) {
                   console.log(data);
               }).fail(function (err) {
                   console.log(err);
               });
           });
        });
	</script>
</body>
</html>